Source: ros-noetic-libuvc
Section: misc
Priority: optional
Maintainer: Ken Tossell <ken@tossell.net>
Build-Depends: debhelper (>= 9.0.0), cmake, libjpeg-dev, libusb-1.0-0-dev, pkg-config
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-libuvc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjpeg-dev, libusb-1.0-0-dev, ros-noetic-catkin
Description: USB Video Class driver library
