Source: ros-kinetic-libuvc
Section: misc
Priority: extra
Maintainer: Ken Tossell <ken@tossell.net>
Build-Depends: debhelper (>= 9.0.0), cmake, libjpeg-dev, libusb-1.0-0-dev, pkg-config
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-libuvc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjpeg-dev, libusb-1.0-0-dev, ros-kinetic-catkin
Description: USB Video Class driver library
